/* Global styles */
body {
  font-family: "Euclid Circular A", "Poppins";
  background: #45494e;
}

/* Add margin-top to create a gap */
.app-container {
  text-align: center;
  max-width: 400px;
  margin: 5rem auto 0; /* Added margin-top to create a gap */
  padding: 2rem;
  background-color: #f5f5f5;
  border-radius: 30px;
}

form {
  margin-bottom: 1rem;
}

input,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 1rem;
}

.edit-button,
.delete-button,
button {
  width: 100%;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 0.5rem;
  background-color: #45494e;
  color: #fff;
  transition: background-color 0.2s ease-in-out;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  border-bottom: 1px solid #ccc;
}

li:last-child {
  border-bottom: none;
}

/* Nav menu styles */
.nav-menu {

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f5f5f5;
  padding: 0.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 100;
}

.nav-menu button {
  
  background-color: #45494e;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  font-size: 16px;
  width: auto;
  transition: background-color 0.2s ease-in-out;
}

.nav-menu button:hover {
  background-color: #7d8da0;
}

/* Dropdown menu styles */
.dropdown {
  position: relative;
  cursor: pointer;
}

.dropdown .dropbtn {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  font-size: 16px;
  transition: background-color 0.2s ease-in-out;
}

.dropdown .dropbtn:hover {
  background-color: #afb6bd;
}

.dropdown .content {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #f7f7f7;
}

.dropdown .content::after {
  content: "";
  position: absolute;
  transition: 0.3s;
}

.dropdown:hover .content::after {
  transform: scaleX(1);
}

.dropdown .content > span:first-child {
  font-size: 20px;
}

.dropdown .content > span:last-child {
  margin-left: auto;
  transition: 0.3s;
}

.dropdown:hover .content > span:last-child {
  transform: rotate(-180deg);
}

.dropdown .menu {
  position: absolute;
  z-index: 1;
  top: -6px;
  left: 50%;
  display: grid;
  width: 110%;
  transform: translateX(-50%);
  visibility: hidden;
  opacity: 0;
  background: linear-gradient(#ea8d8d, #a890fe);
  transition: 0.3s;
}

.dropdown:hover .menu {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.dropdown .menu a {
  display: flex;
  align-items: center;
  color: #f7f7f7;
  font-size: 14px;
  padding: 0 24px;
}

.dropdown .menu a:hover {
  background: rgb(0 0 0 / 10%);
}

.dropdown .menu a > span {
  font-size: 20px;
}

/* Unique styles for dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  flex-direction: column;
  align-items: stretch;
}

.dropdown:hover .dropdown-content {
  display: flex;
}

.dropdown-content button {
  width: 100%;
  
  text-align: left;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  color: #333;
}

.dropdown-content button:hover {
  background-color: #f0f0f0;
}
